<b>Machine Learning Project 1 - House Price Prediction</b>

In [2]:
import pandas as pd
df1 = pd.read_csv('bengaluru_house_prices.csv')

In [3]:
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df2 = df1.drop(['area_type','balcony','society'],axis = 1)

In [5]:
df2

,availability,location,size,total_sqft,bath,price
0,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Ready To Move,Uttarahalli,3 BHK,1440,2.0,62.00
3,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Ready To Move,Kothanur,2 BHK,1200,2.0,51.00
...,...,...,...,...,...,...
13315,Ready To Move,Whitefield,5 Bedroom,3453,4.0,231.00
13316,Ready To Move,Richards Town,4 BHK,3600,5.0,400.00
13317,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00
13318,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,488.00
13319,Ready To Move,Doddathoguru,1 BHK,550,1.0,17.00

In [6]:
df2.isnull().sum()

availability     0
location         1
size            16
total_sqft       0
bath            73
price            0
dtype: int64

In [7]:
df3 = df2.dropna()

In [8]:
df3

,availability,location,size,total_sqft,bath,price
0,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Ready To Move,Uttarahalli,3 BHK,1440,2.0,62.00
3,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Ready To Move,Kothanur,2 BHK,1200,2.0,51.00
...,...,...,...,...,...,...
13315,Ready To Move,Whitefield,5 Bedroom,3453,4.0,231.00
13316,Ready To Move,Richards Town,4 BHK,3600,5.0,400.00
13317,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00
13318,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,488.00
13319,Ready To Move,Doddathoguru,1 BHK,550,1.0,17.00

In [9]:
df3.isnull().sum()

availability    0
location        0
size            0
total_sqft      0
bath            0
price           0
dtype: int64

In [10]:
df3['availability'].unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '18-Apr',
       '20-Aug', '19-Mar', '17-Sep', '18-Dec', '17-Aug', '19-Apr',
       '18-Jun', '22-Dec', '22-Jan', '18-Aug', '19-Jan', '17-Jul',
       '18-Jul', '21-Jun', '20-May', '19-Aug', '18-Sep', '17-May',
       '17-Jun', '18-Oct', '21-May', '18-Jan', '20-Mar', '17-Dec',
       '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb', '19-May',
       '17-Nov', '20-Oct', '20-Jun', '19-Feb', '21-Oct', '21-Jan',
       '17-Mar', '17-Apr', '22-May', '19-Oct', '21-Jul', '21-Nov',
       '21-Mar', '16-Dec', '22-Mar', '20-Jan', '21-Sep', '21-Aug',
       '14-Nov', '19-Nov', '15-Nov', '16-Jul', '15-Jun', '17-Feb',
       '20-Nov', '20-Jul', '16-Sep', '15-Oct', '20-Feb', '15-Dec',
       '16-Oct', '22-Nov', '15-Aug', '17-Jan', '16-Nov', '20-Apr',
       '16-Jan', '14-Jul'], dtype=object)

In [11]:
df3.groupby("availability")["availability"].count()

availability
14-Jul               1
14-Nov               1
15-Aug               1
15-Dec               1
15-Jun               1
                 ...
22-Jun              19
22-Mar               3
22-May               8
22-Nov               2
Ready To Move    10564
Name: availability, Length: 80, dtype: int64

In [12]:
df3['availability']=df3['availability'].apply(lambda x: x if x in ('Ready To Move') else 'Future Possession')

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df3['availability']

0        Future Possession
1            Ready To Move
2            Ready To Move
3            Ready To Move
4            Ready To Move
               ...
13315        Ready To Move
13316        Ready To Move
13317        Ready To Move
13318    Future Possession
13319        Ready To Move
Name: availability, Length: 13246, dtype: object

In [14]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
df3.head(5)

,availability,location,size,total_sqft,bath,price,bhk
0,Future Possession,Electronic City Phase II,2 BHK,1056,2.0,39.07,2
1,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00,4
2,Ready To Move,Uttarahalli,3 BHK,1440,2.0,62.00,3
3,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3
4,Ready To Move,Kothanur,2 BHK,1200,2.0,51.00,2

In [16]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [17]:
 def con_num(x):
        token = x.split('-')
        
        if len(token) == 2:
            return (float(token[0])+float(token[1]))/2
            
        try:
            return float(x)
         
        except:
             
            return None

In [18]:
con_num('1133 - 1384')

1258.5

In [19]:
df4 = df3.copy()

In [20]:
df4['total_sqft'] = df4['total_sqft'].apply(con_num)

In [21]:
df4.head(5)

,availability,location,size,total_sqft,bath,price,bhk
0,Future Possession,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2
1,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4
2,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,62.00,3
3,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3
4,Ready To Move,Kothanur,2 BHK,1200.0,2.0,51.00,2

In [22]:
df4.isnull().sum()

availability     0
location         0
size             0
total_sqft      46
bath             0
price            0
bhk              0
dtype: int64

In [23]:
df5 = df4.dropna()

In [24]:
df5.isnull().sum()

availability    0
location        0
size            0
total_sqft      0
bath            0
price           0
bhk             0
dtype: int64

In [25]:
df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
df5

,availability,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Future Possession,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Ready To Move,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...
13315,Ready To Move,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,Ready To Move,Richards Town,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Future Possession,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Ready To Move,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [27]:
df5.location = df5.location.apply(lambda x: x.strip())
location_stats = df5.groupby('location')['location'].agg('count')

/srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [28]:
location_stats

location
1 Annasandrapalya                                  1
1 Giri Nagar                                       1
1 Immadihalli                                      1
1 Ramamurthy Nagar                                 1
12th cross srinivas nagar banshankari 3rd stage    1
                                                  ..
t.c palya                                          1
tc.palya                                           4
vinayakanagar                                      1
white field,kadugodi                               1
whitefiled                                         1
Name: location, Length: 1287, dtype: int64

In [29]:
location_stats_less_than_10 = location_stats[location_stats<=10]

In [31]:
location_stats_less_than_10

location
1 Annasandrapalya                                  1
1 Giri Nagar                                       1
1 Immadihalli                                      1
1 Ramamurthy Nagar                                 1
12th cross srinivas nagar banshankari 3rd stage    1
                                                  ..
t.c palya                                          1
tc.palya                                           4
vinayakanagar                                      1
white field,kadugodi                               1
whitefiled                                         1
Name: location, Length: 1047, dtype: int64

In [32]:
df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_less_than_10  else x)

/srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [33]:
len(df5.location.unique())

241

In [34]:
df6 = df5.copy()

In [35]:
df6.drop(['size'],axis =1)

,availability,location,total_sqft,bath,price,bhk,price_per_sqft
0,Future Possession,Electronic City Phase II,1056.0,2.0,39.07,2,3699.810606
1,Ready To Move,Chikka Tirupathi,2600.0,5.0,120.00,4,4615.384615
2,Ready To Move,Uttarahalli,1440.0,2.0,62.00,3,4305.555556
3,Ready To Move,Lingadheeranahalli,1521.0,3.0,95.00,3,6245.890861
4,Ready To Move,Kothanur,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Ready To Move,Whitefield,3453.0,4.0,231.00,5,6689.834926
13316,Ready To Move,other,3600.0,5.0,400.00,4,11111.111111
13317,Ready To Move,Raja Rajeshwari Nagar,1141.0,2.0,60.00,2,5258.545136
13318,Future Possession,Padmanabhanagar,4689.0,4.0,488.00,4,10407.336319
13319,Ready To Move,Doddathoguru,550.0,1.0,17.00,1,3090.909091

In [36]:
df6 = df5[~(df5.total_sqft/df5.bhk<300)]

In [37]:
df6

,availability,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Future Possession,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Ready To Move,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...
13315,Ready To Move,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,Ready To Move,other,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Future Possession,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Ready To Move,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [38]:
df6.price_per_sqft.describe()

count     12456.000000
mean       6308.502826
std        4168.127339
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [40]:
def rmv_price_outlier(df):
    df_new=pd.DataFrame()
    for key,sdf in df.groupby('location'):
        m = sdf['price_per_sqft'].mean()
        s = sdf['price_per_sqft'].std()
        #print (sdf['location'])
        rdf = sdf[(sdf['price_per_sqft'] <= m+s) & (sdf['price_per_sqft'] > m-s)]
        #print(rdf)
        df_new = pd.concat([df_new,rdf],ignore_index=True)
    return df_new

In [41]:
df7 = rmv_price_outlier(df6)

In [42]:
df7.head(20)

,availability,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Future Possession,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860
1,Future Possession,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491
2,Ready To Move,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333
3,Future Possession,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333
4,Future Possession,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668
5,Future Possession,1st Block Jayanagar,4 BHK,2750.0,4.0,413.0,4,15018.181818
6,Future Possession,1st Block Jayanagar,4 BHK,2450.0,4.0,368.0,4,15020.408163
7,Ready To Move,1st Phase JP Nagar,4 BHK,2825.0,4.0,250.0,4,8849.557522
8,Ready To Move,1st Phase JP Nagar,3 BHK,1875.0,3.0,167.0,3,8906.666667
9,Ready To Move,1st Phase JP Nagar,5 Bedroom,1500.0,5.0,85.0,5,5666.666667
10,Ready To Move,1st Phase JP Nagar,3 BHK,2065.0,4.0,210.0,3,10169.491525
11,Ready To Move,1st Phase JP Nagar,3 BHK,2024.0,3.0,157.0,3,7756.916996
12,Ready To Move,1st Phase JP Nagar,3 BHK,2059.0,3.0,225.0,3,10927.634774
13,Ready To Move,1st Phase JP Nagar,2 BHK,1394.0,2.0,100.0,2,7173.601148
14,Future Possession,1st Phase JP Nagar,2 BHK,1077.0,2.0,93.0,2,8635.097493
15,Ready To Move,1st Phase JP Nagar,2 Bedroom,1566.0,2.0,180.0,2,11494.252874
16,Ready To Move,1st Phase JP Nagar,1 BHK,840.0,2.0,50.0,1,5952.380952
17,Future Possession,1st Phase JP Nagar,3 BHK,1590.0,3.0,131.0,3,8238.993711
18,Ready To Move,1st Phase JP Nagar,3 BHK,2180.0,3.0,210.0,3,9633.027523
19,Ready To Move,1st Phase JP Nagar,2 BHK,1180.0,2.0,88.5,2,7500.000000

In [43]:
location_dummy = pd.get_dummies(df7['location'],drop_first=True)

In [44]:
location_dummy

,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,AECS Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10288,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [45]:
df8=pd.concat([df7,location_dummy],axis=1)

In [47]:
df8

,availability,location,size,total_sqft,bath,price,bhk,price_per_sqft,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,Future Possession,1st Block Jayanagar,4 BHK,2850.0,4.0,428.00,4,15017.543860,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Future Possession,1st Block Jayanagar,3 BHK,1630.0,3.0,194.00,3,11901.840491,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Ready To Move,1st Block Jayanagar,3 BHK,1875.0,2.0,235.00,3,12533.333333,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Future Possession,1st Block Jayanagar,3 BHK,1200.0,2.0,130.00,3,10833.333333,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Future Possession,1st Block Jayanagar,2 BHK,1235.0,2.0,148.00,2,11983.805668,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10288,Ready To Move,other,2 BHK,1353.0,2.0,110.00,2,8130.081301,0,0,...,0,0,0,0,0,0,0,0,0,1
10289,Future Possession,other,1 Bedroom,812.0,1.0,26.00,1,3201.970443,0,0,...,0,0,0,0,0,0,0,0,0,1
10290,Future Possession,other,3 BHK,1440.0,2.0,63.93,3,4439.583333,0,0,...,0,0,0,0,0,0,0,0,0,1
10291,Ready To Move,other,2 BHK,1075.0,2.0,48.00,2,4465.116279,0,0,...,0,0,0,0,0,0,0,0,0,1
10292,Ready To Move,other,4 BHK,3600.0,5.0,400.00,4,11111.111111,0,0,...,0,0,0,0,0,0,0,0,0,1

In [48]:
df9 = df8.drop(['size','availability','location','price_per_sqft'] ,axis = 1)

In [49]:
df10 = df9.copy()

In [50]:
df10

,total_sqft,bath,price,bhk,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,2850.0,4.0,428.00,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.00,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,235.00,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,130.00,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,148.00,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10288,1353.0,2.0,110.00,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10289,812.0,1.0,26.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10290,1440.0,2.0,63.93,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10291,1075.0,2.0,48.00,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10292,3600.0,5.0,400.00,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [51]:
x = df9.drop(['price'],axis = 1)
y = df9['price']

In [52]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [53]:
X_train.shape

(8234, 243)

In [54]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/decomposition/online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps

In [55]:
df9.head(20)

,total_sqft,bath,price,bhk,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,2850.0,4.0,428.0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,235.0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,130.0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,148.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2750.0,4.0,413.0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2450.0,4.0,368.0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2825.0,4.0,250.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1875.0,3.0,167.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1500.0,5.0,85.0,5,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2065.0,4.0,210.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2024.0,3.0,157.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2059.0,3.0,225.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1394.0,2.0,100.0,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1077.0,2.0,93.0,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1566.0,2.0,180.0,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,840.0,2.0,50.0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1590.0,3.0,131.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2180.0,3.0,210.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1180.0,2.0,88.5,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
model_score =cross_val_score(estimator=LinearRegression(),X=X_train, y=y_train, cv=6)
model_score

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/model_selection/_split.py:442: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  fold_sizes = np.full(n_splits, n_samples // n_splits, dtype=np.int)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/model_selection/_split.py:102: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  test_mask = np.zeros(_num_samples(X), dtype=np.bool)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/model_selection/_split.py:102: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  test_mask = np.zeros(_num_samples(X), dtype=np.bool)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/model_selection/_split.py:102: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  test_mask = np.zeros(_num_samples(X), dtype=np.bool)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/model_selection/_split.py:102: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  test_mask = np.zeros(_num_samples(X), dtype=np.bool)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/model_selection/_split.py:102: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  test_mask = np.zeros(_num_samples(X), dtype=np.bool)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/model_selection/_split.py:102: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  test_mask = np.zeros(_num_samples(X), dtype=np.bool)

array([0.82763943, 0.75301921, 0.81555655, 0.78639673, 0.77846681,
       0.80879676])

In [57]:
model_score.mean()

0.7949792457356671

In [58]:
model_score.std()

0.025126351887343787

In [59]:
model_lr = LinearRegression()
model_lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [71]:
import numpy as np
def predict_price(location ,sqft ,bath , bhk):
    
    loc_index = np.where(x.columns == location)[0][0]
    
    z = np.zeros(len(x.columns))
    
    z[0] = sqft
    z[1] = bath
    z[2] = bhk
    
    if loc_index>=0:
        z[loc_index] = 1
    
    return model_lr.predict([z])[0]

In [72]:
predict_price('1st Phase JP Nagar',1000,2,2)

88.54318720147346